.rounded {
  border-radius: 4px;
}

.rounded-30 {
  border-radius: 30px;
}

.rounded-top {
  border-radius: 4px 4px 0 0;
}

.rounded-top-left {
  border-top-left-radius: 4px;
}

.rounded-top-right {
  border-top-right-radius: 4px;
}

.rounded-bottom-right {
  border-bottom-right-radius: 4px;
}

.rounded-bottom-left {
  border-bottom-left-radius: 4px;
}
