@import "./_variables.scss";

.text-black {
  color: $black;
}

.text-dark-gray {
  color: $dark-gray;
}

.text-gray {
  color: $gray;
}

.text-light-gray {
  color: $light-gray;
}

.text-white {
  color: $white;
}

.bg-white {
  background-color: $white;
}

.bg-yellow {
  background-color: $yellow;
}

.bg-light-gray {
  background-color: $light-gray;
}

.bg-blue {
  background-color: $blue;
}