/* -----------------------------------TEXT_JUSTIFICATION-----------------------------------------*/

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.align-justify {
  text-align: justify;
}

/* -----------------------------------LETTER_SPACING-----------------------------------------*/

.no-spacing {
  letter-spacing: normal;
}

/* -----------------------------------TEXT_STYLING-----------------------------------------*/

.text-decoration-none {
  text-decoration: none;
}

.bold {
  font-weight: bold;
}

.light {
  font-weight: lighter;
}

.regular {
  font-weight: 400;
}

.italic {
  font-style: italic;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

/* -----------------------------------FONT-SIZE/LINE-HEIGHT-----------------------------------------*/

.font-size-12 {
  font-size: 12px;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-21 {
  font-size: 21px;
}

.font-size-24 {
  font-size: 24px;
}

.font-size-26 {
  font-size: 26px;
}

.font-size-28 {
  font-size: 28px;
}

.font-size-34 {
  font-size: 34px;
}

.font-size-36 {
  font-size: 36px;
}

.font-size-46 {
  font-size: 46px;
}

.font-size-62 {
  font-size: 62px;
}
