// Font-Family
$roboto: "roboto";

// Colors
$yellow: #FFE600;
$black: #333333;
$dark-gray: #666666;
$gray: #999999;
$light-gray: #EEEEEE;
$white: #ffffff;
$blue: #3483FA;

// Grid System
$xs: 576px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
